<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">御朱印　編集</h2>
      <%= render partial: "form", locals: { gosyuin: @gosyuin } %>
    </div>
  </div>
</div>