/* ヘッダー */
.header {
  background-color: #dbd4da;
  margin-bottom: 48px;
  padding: 20px 0;
}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 150px;
}
.nav_btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: rgb(145, 51, 96);
  text-decoration: none;
  user-select: none;
  border: 1px rgb(145, 51, 96) solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav_btn:hover{
  color: #fff;
  background: rgb(145, 51, 96);
}

/* フッター */
.footer {
  background-color: rgb(139, 126, 148);
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* メイン */
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}
.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}
.card__img {
  margin-bottom: 16px;
  border-radius: 30px;
  width: 300px;
  height: 300px;
}
.card__title {
  display: block;
  font-size: 20px;
  color: rgb(145, 51, 96);
  margin-bottom: 8px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.card__summary {
  font-size: 16px;
  text-align: center;
}
.card__user {
  display: block;
  font-size: 25px;
  color: rgb(145, 51, 96);
  text-align: left;
  text-decoration: none;
}

/* 詳細ページ */
.gosyuin_wrapper{
  min-height: calc(100vh - 161px);
}
.gosyuin_hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: rgb(145, 51, 96);
}
.prototype__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.gosyuin_image{
  margin: 0 auto;
  padding: 16px 0;
  text-align: center;
}
.gosyuin_body{
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: rgb(145, 51, 96);
  background: #dbd4da;
  box-shadow: 0px 0px 0px 10px #dbd4da;
  border: dashed 2px rgb(145, 51, 96) ;
  border-radius: 8px;
  width: 50vw;
  display: block;
}
.gosyuin_edit{
  display: flex;
  justify-content: center;
}
.gosyuin_detail{
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail_title{
  font-size: 20px;
  font-weight: bold;
}
.detail_caption{
  font-size: 20px;
}
.gosyuin_manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.gosyuin_btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: rgb(145, 51, 96);
  text-decoration: none;
  user-select: none;
  border: 1px rgb(145, 51, 96) solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-right: 3px;
}
.gosyuin_btn:hover{
  color: #fff;
  background: rgb(145, 51, 96);
}
.comment_btn{
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: rgb(145, 51, 96);
}

/* フォーム */
.form__wrapper{
  min-height: calc(100vh - 161px);
}
.form_text {
  width: 40%;
  height: 10vh;
}
.field{
  margin: 10px 0;
}
.actions{
  margin-bottom: 40px;
}
.form_btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: rgb(145, 51, 96);
  border: 1px rgb(145, 51, 96) solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}
.form_btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.page-heading{
  font-size: 30px;
  margin-bottom: 28px;
  color:rgb(145, 51, 96);
  text-align: center;
}
.form_field{
  text-align: center;
}
.select-box{
  padding: 10px;
  width: 20%;
}

/* コメント　*/
.comment_form{
  display: flex;
}
.text_field{
  width: 30vw;
  height: 10vh;
  margin: 0 10px 0 20px;
}
.field_text{
  margin-left: 15px;
  color: rgb(145, 51, 96);
  font-weight: bold;
}
.gosyuin_comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}
.comments_lists{
  padding-left: 20px;
  background-color: rgb(228, 207, 223);
}
.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
  list-style: none;
  text-align: center;
}
.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}
.gosyuin__edit{
  display: block;
}
.comment_head{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__btn{
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: rgb(145, 51, 96);
  border: 1px rgb(145, 51, 96) solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  margin-top: 4.5em
}
.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.gosyuin__name{
  margin-left: 15px;
}

/* 御朱印一覧　*/
.image_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}